
<div *ngIf="!isLogin">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

    <div><h5>ورود</h5></div>

    <div><p>برای ورود اطلاعات کاربری خود را وارد کنید:</p></div>

    <div>
<!--      <label for="studentId">شماره دانش آموزی:</label>-->
      <input class="form-control" type="text" id="userName" formControlName="userName" placeholder="نام کاربری">
    </div>

    @if (loginForm.controls['userName'].errors?.['required'] && loginForm.controls['userName'].dirty) {
      <span>*شماره دانش آموزی خود را وارد کنید.</span>
    }

    <div>
<!--      <label>رمز عبور:</label>-->
      <input class="form-control" type="password" id="password" formControlName="password" placeholder="رمز عبور">
    </div>

    @if (loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].dirty) {
      <span>*رمز عبور را وارد کنید.</span>
      <br>
      <span>*رمز حداقل 6 کاراکتر است.</span>
    }

    <div>
<!--      <span>مرا به خاطر بسپار</span>-->
      <label for="rememberMe">مرا به خاطر بسپار</label>
      <input class="rememberMe" type="checkbox" id="rememberMe" formControlName="rememberMe">
    </div>

    <div>
      <button class="btn btn-success" (click)="loginUser()" [disabled]="!loginForm.valid">ورود</button>
    </div>

    <div><p>حساب کاربری ندارید؟</p>
    <a routerLink="/register">ثبت نام کنید</a>
    </div>

  </form>

</div>

<!--<ng-template #welcome>-->
<!--  <div class="template">-->
<!--  <h6>خوش آمدید</h6>-->
<!--  <button id="logOut" class="btn btn-danger" (click)="isLogOut()">خروج</button></div>-->
<!--&lt;!&ndash;  <a routerLink="formStudent"></a>&ndash;&gt;-->
<!--</ng-template>-->


