h5 {
  color: rgb(7, 114, 3);
  margin: 8%;
  border-bottom: 1px solid #0da115;
  padding-bottom: 5px;

}

div {

  display: flex;
  padding: 5px;
  margin: auto;
  justify-content: center;

}

form {

  width: 40%;
  border: 1px solid rgba(6, 60, 82, 0.29);
  box-shadow: 1px 1px 6px rgba(35, 22, 22, 0.65);
  padding: 35px;
  text-align: center;
  background: linear-gradient(#ffdae8, #fdc0d8, #faf7ff);
}

label {

  //font-weight: bold;
  font-style: italic;
  margin: 2px;
  font-size: 14px;

}

input {

  padding: 3px;
  margin: 10px;
  box-shadow: 1px 1px 10px rgba(6, 60, 82, 0.29);
  border-radius: 12px;
  border-color: #74c712;
  transition: border-color 0.5s ease;

}

input:focus {

  //border-color: rgb(248, 15, 15);
  outline: rgba(36, 178, 255, 0.95);

}

button {

  width: 15%;
  //font-weight: bold;
  font-size: 18px;
  background-color: rgb(1, 140, 57);
  margin: 5%;
  box-shadow: 1px 1px 5px rgba(35, 22, 22, 0.65);
  border: none;
  padding: 8px;
  color: aliceblue;
}

span {
  justify-content: center;
  color: #d41111;
  font-size: 12px;
}
