.table-box {
  border:  1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  max-width: 10000px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Tahoma', sans-serif;
  direction: rtl;
  background:linear-gradient(#f3d28c, #fcff79, rgb(251, 255, 153));
}

th{
  width: 20%;
}

button{
  padding: 2px;
  margin: 5px;
  background: linear-gradient(#92dae3, #88fff7, #3ebfd6);
  border-radius: 5px;
  font-size: 80%;
}

